<html>
  <head>
    <style>
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.main {
  height: 100%;
  display: flex;
}
.left {
  float: left;
  width: 200px;
}
.right {
  flex-grow: 1;
  background-color: silver;
}




.
    </style>

    <script>

'use strict';


var point;
var ps = new Map();


class canvasView {

  polygons = new Map();

  constructor(canvas, source) {
    this.canvas = canvas;
    this.context = canvas.getContext("2d");
    //this.image = new Image();
    //this.image.src = source.toDataURL("image/png");
    this.image = source;
    this.canvas.oncontextmenu = function(e) { e.preventDefault(); e.stopPropagation(); return false;}
    this.isMove = false;
    this.x1 = 0;
    this.y1 = 0;
    this.w1 = this.image.width;
    this.h1 = this.image.height;
    this.mouseX = 0;
    this.mouseY = 0;

    this.canvas.addEventListener('mouseover', this.mouseuplistener.bind(this));
    this.canvas.addEventListener('mousedown', this.mousedownlistener.bind(this));
    this.canvas.addEventListener('mousemove', this.mousemovelistener.bind(this));
    this.canvas.addEventListener('mouseup', this.mouseuplistener.bind(this));
    this.canvas.addEventListener('wheel', this.wheellistener.bind(this), { passive: true });


    this.x1 = -(this.image.width - this.canvas.width) / 2;
    this.y1 = -(this.image.height - this.canvas.height) / 2;

    this.draw();
  } 

  mousedownlistener(event) {
    this.mouse(event);

    this.oldx = this.mouseX;
    this.oldy = this.mouseY;

    if (event.button == 0) {
      this.isMove = true;
    }
    if (event.button == 2) {
      this.scale = this.w1 / this.image.width;
      var x = (this.mouseX - this.x1) / this.scale;
      var y = (this.mouseY - this.y1) / this.scale;
      console.log(x, y);
      console.log("coords: " + x + ", " + y);
    }
  }

  mousemovelistener(event) {
    this.mouse(event);

    if (this.isMove) {
      let dx = this.mouseX - this.oldx;
      this.x1 += dx;

      let dy = this.mouseY - this.oldy;
      this.y1 += dy;

      this.draw();

      this.oldx = this.mouseX;
      this.oldy = this.mouseY;
    }
  }

  mouseuplistener(event) {
    this.mouse(event);

    this.isMove = false;
  }

  wheellistener(e) {
    this.mouse(e);

    if (! this.isMove) {
      var delta = e.deltaY || e.detail || e.wheelDelta;

      if (delta < 0) {
        this.x1 = this.mouseX - (this.mouseX - this.x1) * 1.2;
        this.y1 = this.mouseY - (this.mouseY - this.y1) * 1.2;
        this.w1 *= 1.2;
        this.h1 *= 1.2;

        this.draw();
      }
      else {
	
        this.x1 = this.mouseX - (this.mouseX - this.x1) / 1.2;
        this.y1 = this.mouseY - (this.mouseY - this.y1) / 1.2;
        this.w1 /= 1.2;
        this.h1 /= 1.2;

        this.draw();
      }
    }
  }

  mouse(e) {
    var boundings = this.canvas.getBoundingClientRect();
    this.mouseX = e.clientX - boundings.left;
    this.mouseY = e.clientY - boundings.top;
  }


  draw() {
    var canvas = document.getElementById("paint-canvas");
    var right = document.getElementById("right");
    canvas.width = right.clientWidth;
    canvas.height = right.clientHeight;
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    this.context.drawImage(this.image, this.x1, this.y1, this.w1, this.h1);
  }

};


  var viewer;


window.addEventListener('resize', function(event) {
  viewer.draw();
}, true);




window.onload = function () {
  // Definitions
  var image = document.getElementById('source');
  var canvas = document.getElementById("paint-canvas");
  var right = document.getElementById("right");
  canvas.width = right.clientWidth;
  canvas.height = right.clientHeight;
  viewer = new canvasView(canvas, image);

  var btn = document.getElementById("create-display");
  btn.onclick=function(e) {

    console.log(window.getComputedStyle(this).borderStyle);

    if (window.getComputedStyle(this).borderStyle != 'inset') {
      this.style.backgroundColor = 'red';
      this.style.borderStyle = 'inset';
    }
    else {
      this.style.backgroundColor = 'white';
      this.style.borderStyle = 'outset';
    }
  }
};


function feelForm() {
}

feelForm();

    </script>

  </head>


  <body>



<div class="main">
         <div class="left">Menu<br />
           <form id="fields">
              port: <input type="text" name="port" value="5556"><br />
              aspect: <select name="aspect">
                <option selected>16:9</option>
                <option>4:3</option>
              </select><br />
              render width: <input type="text" name="width" value="720"><br />
           </form>

          <input id="create-display" type="button" value="+" style="border-style:i nset;" />

         </div>

         <div class="right" id="right">
            <canvas id=paint-canvas class="right"></canvas>
            <img id=source src={{path}} hidden></img>
         </div>
</div>

  </body>

</html>