<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.main {
  height: 100%;
  display: flex;
}
.left {
  float: left;
  width: 220px;
}
.right {
  flex-grow: 1;
  background-color: silver;
}
    </style>


    <script>

'use strict';

var ps = [];
var displays = [];
var drawDisplay = false;
var viewer;
var video = false;
var videoImage;

class Display {
  constructor(ps, video) {
    this.points = ps;
    this.selected = false;
    this.port = "5556";
    this.height = "480";
    this.width = "720";
    this.video = video;
    this.ip = "localhost";
    this.pointSelected = null;
  }

    draw() {
        var stroke = "rgba(255, 255, 255, 0.7)";
        var fill = "rgba(0, 0, 255, 0.3)";
        if (this.selected) {
            stroke = "rgba(255, 255, 0, 1)";
            viewer.context.lineWidth = 3;
        }
        else {
            viewer.context.lineWidth = 1;
        }

        if (this.video) {
            viewer.context.globalAlpha = 0.5;
            viewer.drawImage(this.points);
            viewer.context.globalAlpha = 1;
            viewer.drawPolyline(this.points, stroke, false);
        }
        else {
            viewer.drawPolygon(this.points, fill);
            viewer.drawPolyline(this.points, stroke, false);
        }

        if (this.selected) {

            for (var point of this.points) {

                if (this.pointSelected == point) {
                    stroke = "rgba(255, 0, 0, 1)";
                    viewer.context.lineWidth = 2;
                }
                else {
                    stroke = "rgba(255, 255, 0, 1)";
                    viewer.context.lineWidth = 2;
                }
                var ps = [];
                var size = 5 / viewer.scale;
                ps.push({"x": point.x - size, "y": point.y - size});
                ps.push({"x": point.x + size, "y": point.y - size});
                ps.push({"x": point.x + size, "y": point.y + size});
                ps.push({"x": point.x - size, "y": point.y + size});
                viewer.drawPolyline(ps, stroke, false);
            }
        }
    }

    select(x, y) {
        this.pointSelected = null;
        var size = 5 / viewer.scale;

        for (var point of this.points) {

            if (Math.abs(x - point.x) < size && Math.abs(y - point.y) < size) {
                this.pointSelected = point;
            }
        }

        if (this.isInside(this.points[0].x, this.points[0].y,
                this.points[1].x, this.points[1].y,
                this.points[2].x, this.points[2].y,
                x, y) ||
            this.isInside(this.points[2].x, this.points[2].y,
                this.points[3].x, this.points[3].y,
                this.points[0].x, this.points[0].y,
                x, y) || this.pointSelected != null) {

            this.selected = true;

            var btnDelete = document.getElementById("delete-display");
            btnDelete.disabled = false;

            var form = document.getElementById('fields');
            var ip = document.getElementById("ip");
            var port = document.getElementById("port");
            var height = document.getElementById("height");
            var width = document.getElementById("width");
            ip.value = this.ip;
            port.value = this.port;
            height.value = this.height;
            width.value = this.width;

            form.hidden = false;
        }
        else {
            this.selected = false;
        }
    }

    area(x1, y1, x2, y2, x3, y3) {
        return Math.abs((x1*(y2-y3) + x2*(y3-y1)+ x3*(y1-y2))/2.0);
    };

    isInside(x1, y1, x2, y2, x3, y3, x, y) {
       var A = this.area(x1, y1, x2, y2, x3, y3);
       var A1 = this.area(x, y, x2, y2, x3, y3);
       var A2 = this.area(x1, y1, x, y, x3, y3);
       var A3 = this.area(x1, y1, x2, y2, x, y);
       return (Math.round(A) == Math.round(A1 + A2 + A3));
    }

    move(dx, dy) {

      if (this.pointSelected != null) {
        this.pointSelected.x += dx;
        this.pointSelected.y += dy;
      }
      else {
          for (var point of this.points) {
            point.x += dx;
            point.y += dy;
          }
      }
    }

};


class CanvasView {


  constructor(canvas, source) {
    this.canvas = canvas;
    this.context = canvas.getContext("2d");
    //this.image = new Image();
    //this.image.src = source.toDataURL("image/png");
    this.image = source;
    this.canvas.oncontextmenu = function(e) { e.preventDefault(); e.stopPropagation(); return false;}
    this.isMove = false;
    this.isDisplayMove = false;
    this.x1 = 0;
    this.y1 = 0;
    this.w1 = this.image.width;
    this.h1 = this.image.height;
    this.mouseX = 0;
    this.mouseY = 0;

    this.canvas.addEventListener('mouseover', this.mouseuplistener.bind(this));
    this.canvas.addEventListener('mousedown', this.mousedownlistener.bind(this));
    this.canvas.addEventListener('mousemove', this.mousemovelistener.bind(this));
    this.canvas.addEventListener('mouseup', this.mouseuplistener.bind(this));
    this.canvas.addEventListener('wheel', this.wheellistener.bind(this), { passive: true });


    this.x1 = -(this.image.width - this.canvas.width) / 2;
    this.y1 = -(this.image.height - this.canvas.height) / 2;
    this.selected = null;

    this.draw();
  } 

  mousedownlistener(event) {
    this.mouse(event);

    this.oldx = this.mouseX;
    this.oldy = this.mouseY;

    if (event.button == 0) {
      this.isMove = true;
      var x = (this.mouseX - this.x1) / this.scale;
      var y = (this.mouseY - this.y1) / this.scale;

      // selection
      var form = document.getElementById('fields');
      form.hidden = true;
      var btnDelete = document.getElementById("delete-display");
      btnDelete.disabled = true;

      for (var display of displays) {
        display.select(x, y);

        if (display.selected) {
            x = 1000000;
        }
      }

      viewer.draw();
    }
    if (event.button == 2) {
      this.scale = this.w1 / this.image.width;
      var x = (this.mouseX - this.x1) / this.scale;
      var y = (this.mouseY - this.y1) / this.scale;

      if (drawDisplay) {

        if (video) {
          console.log("video");
          if (ps.length == 0) {
            ps.push({"x": x, "y": y});
          }
          else {
            var btn = document.getElementById("create-video");
            btn.click();
            var v = new Display(ps, true)
            v.width = videoImage.width;
            v.height = videoImage.height;
            v.port = "5000";
            v.ip = "localhost";
            displays.push(v);
            ps = [];
          }

          viewer.draw();
        }
        else {
          console.log("not video");
          ps.push({"x": x, "y": y});

          if (ps.length == 4) {
            var btn = document.getElementById("create-display");
            btn.click();
            displays.push(new Display(ps, false));
            ps = [];
          }

          viewer.draw();
        }
      }

      // start to move selected display
      else {
          console.log("start to move");
          this.selected = null;

          for (var display of displays) {
            display.select(x, y);

            if (display.selected) {
                x = 1000000;
                this.selected = display;
            }
          }

          if (this.selected != null) {
            console.log("selected found");
            this.isDisplayMove = true;
            this.oldx = this.mouseX;
            this.oldy = this.mouseY;
          }
      }
    }
  }

  mousemovelistener(event) {
    this.mouse(event);

    if (this.isMove) {
      let dx = this.mouseX - this.oldx;
      this.x1 += dx;

      let dy = this.mouseY - this.oldy;
      this.y1 += dy;

      this.draw();

      this.oldx = this.mouseX;
      this.oldy = this.mouseY;
    }
    if (this.isDisplayMove) {
      let dx = (this.mouseX - this.oldx) / this.scale;
      let dy = (this.mouseY - this.oldy) / this.scale;

      this.selected.move(dx, dy);

      this.oldx = this.mouseX;
      this.oldy = this.mouseY;
      this.draw();
    }

    if (drawDisplay) {
      this.draw();
    }
  }

  mouseuplistener(event) {
    this.mouse(event);

    this.isMove = false;
    this.isDisplayMove = false;
  }

  wheellistener(e) {
    this.mouse(e);

    if (! this.isMove) {
      var delta = e.deltaY || e.detail || e.wheelDelta;

      if (delta < 0) {
        this.x1 = this.mouseX - (this.mouseX - this.x1) * 1.2;
        this.y1 = this.mouseY - (this.mouseY - this.y1) * 1.2;
        this.w1 *= 1.2;
        this.h1 *= 1.2;

        this.draw();
      }
      else {
	
        this.x1 = this.mouseX - (this.mouseX - this.x1) / 1.2;
        this.y1 = this.mouseY - (this.mouseY - this.y1) / 1.2;
        this.w1 /= 1.2;
        this.h1 /= 1.2;

        this.draw();
      }
    }
  }

  mouse(e) {
    var boundings = this.canvas.getBoundingClientRect();
    this.mouseX = e.clientX - boundings.left;
    this.mouseY = e.clientY - boundings.top;
  }

  drawImage(psp) {
      var x = this.x1 + psp[0].x * this.scale;
      var y = this.y1 + psp[0].y * this.scale;
      var w = this.x1 + psp[1].x * this.scale - x;
      var h = this.y1 + psp[2].y * this.scale - y;
      this.context.drawImage(videoImage, x, y, w, h);
  }

  drawPolygon(psp, style) {
    this.context.fillStyle = style;
    this.context.beginPath();
    var first = true;

    // draw temporally polygon
    for (var p of psp) {
      // screen x y
      var x = this.x1 + p.x * this.scale;
      var y = this.y1 + p.y * this.scale;

      if (first) {
         this.context.moveTo(x, y);
      }
      else {
         this.context.lineTo(x, y);
      }
      first = false;
    }
    this.context.closePath();
    this.context.fill();
  }

  drawPolyline(psp, style, opened=true) {
    this.context.strokeStyle = style;
    this.context.beginPath();
    var first = true;
    var oldx, oldy;
    var firstx, firsty;

    // draw temporally line
    for (var p of psp) {
      // screen x y
      var x = this.x1 + p.x * this.scale;
      var y = this.y1 + p.y * this.scale;

      if (! first) {
        this.context.beginPath();
        this.context.moveTo(oldx, oldy);
        this.context.lineTo(x, y);
        this.context.closePath();
        this.context.stroke();
      }
      else {
        firstx = x;
        firsty = y;
      }
      first = false;
      oldx = x;
      oldy = y;
    }
    if (! first && ! opened) {
        this.context.beginPath();
        this.context.moveTo(oldx, oldy);
        this.context.lineTo(firstx, firsty);
        this.context.closePath();
        this.context.stroke();
    }
  }

  draw() {
    this.scale = this.w1 / this.image.width;
    var canvas = document.getElementById("paint-canvas");
    var right = document.getElementById("right");
    canvas.width = right.clientWidth;
    canvas.height = right.clientHeight;
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    this.context.drawImage(this.image, this.x1, this.y1, this.w1, this.h1);

    if (video) {

        if (ps.length > 0) {
            var x = (this.mouseX - this.x1) / this.scale;
            var y = (this.mouseY - this.y1) / this.scale;
            var im = document.getElementById("video");
            var iw = im.width;
            var ih = im.height;

            var x1 = ps[0].x;
            var y1 = ps[0].y;
            var x2, x3, x4;
            var y2, y3, y4;


            if ((x - x1) / (y - y1) < iw / ih) {
                var dy = (x - x1) * ih / iw;
                x2 = x; x3 = x; x4 = x1;
                y2 = y1; y3 = y1 + dy; y4 = y1 + dy;
            }
            else {
                var dx = (y - y1) * iw / ih;
                x2 = x1 + dx; x3 = x1 + dx; x4 = x1;
                y2 = y1; y3 = y; y4 = y;
            }

            console.log(x1, y1, x2, y2, x3, y3, x4, y4);

            ps = [];
            ps.push({"x": x1, "y": y1});
            ps.push({"x": x2, "y": y2});
            ps.push({"x": x3, "y": y3});
            ps.push({"x": x4, "y": y4});
          }
          this.drawPolygon(ps, "rgba(255, 0, 255, 0.3)");
          this.drawPolyline(ps, "rgba(255, 255, 255, 0.7)", false);
    }
    else {
        this.drawPolyline(ps, "rgba(255, 255, 255, 0.7)");

        if (ps.length > 0 && drawDisplay) {
          var x = this.x1 + ps[ps.length - 1].x * this.scale;
          var y = this.y1 + ps[ps.length - 1].y * this.scale;
          this.context.beginPath();
          this.context.moveTo(x, y);
          this.context.lineTo(this.mouseX, this.mouseY);
          this.context.closePath();
          this.context.stroke();
        }

        this.drawPolygon(ps, "rgba(0, 0, 255, 0.3)");

        // draw temporally points
        this.context.fillStyle = "rgba(255, 0, 0, 0.5)";
        this.context.strokeStyle = "rgba(255, 255, 255)";

        for (var p of ps) {

          // screen x y
          var x = this.x1 + p.x * this.scale;
          var y = this.y1 + p.y * this.scale;
          this.context.fillRect(x - 5, y - 5, 11, 11);
          this.context.strokeRect(x, y, 1, 1);
        }
    }

    for (var display of displays) {
        if (display.video) {
            display.draw();
        }
    }
    for (var display of displays) {
        if (! display.video) {
            display.draw();
        }
    }
  }
};




window.addEventListener('resize', function(event) {
  viewer.draw();
}, true);




window.onload = function () {
  // Definitions
  var image = document.getElementById('source');
  var canvas = document.getElementById("paint-canvas");
  var right = document.getElementById("right");
  canvas.width = right.clientWidth;
  canvas.height = right.clientHeight;
  viewer = new CanvasView(canvas, image);
  videoImage = document.getElementById('video');


  var btn = document.getElementById("create-display");
  btn.onclick=function(e) {
    if (window.getComputedStyle(this).borderStyle != 'inset') {
      this.style.backgroundColor = 'red';
      this.style.borderStyle = 'inset';
      drawDisplay = true;
      ps = [];
      video = false;
      viewer.draw();
    }
    else {
      this.style.backgroundColor = 'white';
      this.style.borderStyle = 'outset';
      drawDisplay = false;
      viewer.draw();
    }
  }

  var btnDelete = document.getElementById("delete-display");
  btnDelete.onclick=function(e) {
    if (! drawDisplay) {

        for (var i = 0; i < displays.length; i++) {
            if (displays[i].selected) {
                displays.splice(i, 1);
                break;
            }
        }

        viewer.draw();
    }
  }

  var btnVideo = document.getElementById("create-video");
  btnVideo.onclick=function(e) {
    if (window.getComputedStyle(this).borderStyle != 'inset') {
      this.style.backgroundColor = 'red';
      this.style.borderStyle = 'inset';
      drawDisplay = true;
      ps = [];
      video = true;
      viewer.draw();
    }
    else {
      this.style.backgroundColor = 'white';
      this.style.borderStyle = 'outset';
      drawDisplay = false;
      viewer.draw();
    }
  }

  function loadContent(project) {
    var param = {"project": {{project}}};

    $.ajax({
      type: "POST",
      url: "/content",
      data: JSON.stringify(param),
      contentType: "application/json",
      success: function(result) {
        console.log("Result:");
        console.log(result);

        var div = document.getElementById('content');
        div.innerHTML = result;
        div = document.getElementById('welcome');
        div.innerHTML = '<div class="glitch" data-text="Welcome to ' + project + ' project">Welcome to ' + project + ' project</div>';
      }
    });
  }




  var btnSave = document.getElementById("save");
  btnSave.onclick=function(e) {
    var json = JSON.stringify(displays);
    $.ajax({
      type: "POST",
      url: "/points",
      data: json,
      contentType: "application/json",
      success: function(result) {
        location.href = "/?project={{project}}";
      }
    });
  }

{%for p in points%}
    ps = []
    {% for point in p.points %}
       ps.push({"x": {{point.x}}, "y": {{point.y}}});
    {%endfor%}
    displays.push(new Display(ps, '{{p.video}}'!='False'));
    displays[displays.length - 1].ip = '{{p.ip}}';
    displays[displays.length - 1].port = '{{p.port}}';
    displays[displays.length - 1].height = '{{p.height}}';
    displays[displays.length - 1].width = '{{p.width}}';
    console.log(displays.length);

{%endfor%}
    ps = [];
    viewer.draw();
};



function fillForm() {
  var ip = document.getElementById("ip");
  var port = document.getElementById("port");
  var height = document.getElementById("height");
  var width = document.getElementById("width");

  for (var d of displays) {

    if (d.selected) {
        d.ip = ip.value;
        d.port = port.value;
        d.height = height.value;
        d.width = width.value;
    }
  }
}


    </script>

  </head>


  <body>



<div class="main">
         <div class="left">Menu<br />
            <input id="create-display" type="button" value="add display" style="border-style: outset; width: 160px;" />
            <br />
            <input id="create-video" type="button" value="video mapping" style="border-style: outset; width: 160px;" />
            <br />
            <input id="delete-display" type="button" value="del display" style="border-style: outset; width: 160px;" disabled/>
            <br />
            <br />
            Monitor corner selection order:
            <br />
            <img src="/static/images/corners.png" />
            <br />
            <br />Controls:
            <li> Scroll - left mouse
            <li> Set point - right mouse
            <li> Zoom - mouse wheel
            <br />
            <br />



            <form id="fields" hidden onchange="fillForm()">
               ip: <br /><input id="ip" type="text" name="port" value="localhost" oninput="fillForm()"><br />
               port: <br /><input id="port" type="text" name="port" value="5556" oninput="fillForm()"><br />
               width: <br /><input type="text" name="width" id="width" value="720" oninput="fillForm()"><br />
               height: <br /><input type="text" name="width" id="height" value="480" oninput="fillForm()"><br />
            </form>

            <br />
            <br />
            <input id="save" type="button" value="Save and close" style="border-style: inset; width: 160px;" />
                 <br />
            <input id="exit" type="button" value="Close" style="border-style: inset; width: 160px;" onclick="location.href='/'"/>
         </div>

         <div class="right" id="right">
            <canvas id=paint-canvas class="right"></canvas>
            <img id=source src={{path}} hidden />
            <img id=video src='static/projects/{{project}}/video/original.jpg' hidden />
         </div>
</div>

  </body>

</html>