          <span>
            <div>
          {% if scene != "": %}
              <table>
                  <tr>
                      <td valign="middle">Scene loaded: </td>
                      <td valign="middle"><img src='{{scene}}' width="100px" /></td>
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/remove?path=static/projects/{{project}}/scene/scene.jpg')" type="button"><span>Clear scene </span></button>
                      </td>
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/')" type="button"><span>Setup monitors </span></button>
                      </td>
                  </tr>
              </table>
          {% else %}
                No scene
                <input type="file" id="fileScene" accept="image/*" onchange="upload(this.files[0],'static/projects/{{project}}/scene/')" hidden>
                <button class="button" style="vertical-align:middle" onclick="document.getElementById('fileScene').click()" type="button"><span>Upload scene </span></button>
          {% endif %}
            </div>
          </span>

          <span>
            <div>
          {% if video != "": %}
              <table>
                  <tr>
                      <td valign="middle">Video loaded: </td>
                      <td valign="top"><img src='{{video}}' width="100px" /></td>
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/remove?path=static/projects/{{project}}/video/small.jpg')" type="button"><span>Clear video </span></button>
                      </td>
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/')" type="button"><span>Start stream </span></button>
                      </td>
                  </tr>
              </table>
          {% else %}
                No video
                <input type="file" id="fileVideo" accept="video/*" onchange="upload(this.files[0],'static/projects/{{project}}/video/')" hidden>
                <button class="button" style="vertical-align:middle" onclick="document.getElementById('fileVideo').click()" type="button"><span>Upload scene </span></button>
          {% endif %}
            </div>
          </span>

          <span>
            <div>
          {% if project != "demo": %}
                <button class="button" style="vertical-align:middle" onclick="perform('/')" type="button"><span>Delete project </span></button>
          {% endif %}
            </div>
          </span>
