          <span>
            <div>
          {% if scene != "": %}
              <table>
                  <tr>
                      <td valign="middle">Scene loaded: </td>
                      <td valign="middle"><img src='{{scene}}' width="100px" /></td>
          {% if project != "demo": %}
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/remove?path=static/projects/{{project}}/scene/scene.jpg', '{{project}}')" type="button"><span>Clear scene </span></button>
                      </td>
          {% endif %}
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/', '{{project}}')" type="button"><span>Setup monitors </span></button>
                      </td>
                  </tr>
              </table>
          {% else %}
                No scene
                <input type="file" id="fileScene" accept="image/*" onchange="upload(this.files[0],'static/projects/{{project}}/scene/')" hidden>
                <button class="button" style="vertical-align:middle" onclick="document.getElementById('fileScene').click()" type="button"><span>Upload scene </span></button>
          {% endif %}
            </div>
          </span>

          <span>
            <div>
          {% if video != "": %}
              <table>
                  <tr>
                      <td valign="middle">Video loaded: </td>
                      <td valign="middle"><img src='{{video}}' width="100px" /></td>
          {% if project != "demo": %}
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/remove?path=static/projects/{{project}}/video/small.jpg', '{{project}}')" type="button"><span>Clear video </span></button>
                      </td>
          {% endif %}
                      <td valign="middle">
                          <button class="button" style="vertical-align:middle" onclick="perform('/', '{{project}}')" type="button"><span>Start stream </span></button>
                      </td>
                  </tr>
              </table>
          {% else %}
              <table>
                  <tr>
                      <td valign="middle">No video: </td>
                <input type="file" id="fileVideo" accept="video/*" onchange="upload(this.files[0],'static/projects/{{project}}/video/', '{{project}}')" hidden>
                      <td valign="middle">
                        <button id="{{project}}video" class="button" style="vertical-align:middle" onclick="document.getElementById('fileVideo').click()" type="button"><span>Upload scene </span></button>
                      </td>
                      <td valign="middle">
                        <img id="{{project}}gif" src="static/images/upload.gif" width="50px" style="display: none;">
                      </td>
                  </tr>
              </table>
          {% endif %}
            </div>
          </span>

          <span>
            <div>
          {% if project != "demo": %}
                <button class="button" style="vertical-align:middle" onclick="perform('/')" type="button"><span>Delete project </span></button>
          {% endif %}
            </div>
          </span>
